.idea
__pycache__/
**/credentials.py
**/secrets/*
**/venv/*
**/.pytest_cache/*
**/*.csv
**/*.CSV
**/*.xlsx
**/*.pickle
**/*.zip
**/*.db
**/*.xml
**/*.sqlite
**/*.sfv
**/*.DS_Store
**/*.pkl
/gsv_covid19_hosp/*.html
**/Pipfile
**/Pipfile.lock