.idea
__pycache__/
**/credentials.py
**/pw.txt
**/secrets/*
**/venv/*
**/.venv/*
**/.pytest_cache/*
**/*.csv
**/*.CSV
**/*.xlsx
**/*.xls
**/*.xlsm
**/*.pickle
**/*.zip
**/*.db
**/*.xml
**/*.sqlite
**/*.sfv
**/*.DS_Store
**/*.pkl
**/*.ics
**/*.kml
**/*.kmz
**/*.dbf
**/*.shp
**/*.shx
**/*.prj
**/*.cpg
**/*.json
**/*.gpkg
/aue_fischereistatistik/**/*.geojson
/bachapp/**/*.geojson
/gsv_covid19_hosp/*.html
**/Pipfile
**/Pipfile.lock
/parlamentsdienst_gr_abstimmungen/**/*.json
**/*.pdf
**/*.sas7bdat
/stata_erwarteter_stromverbrauch/pw.txt
/stata_erwarteter_stromverbrauch/Stromverbrauch_productiv.R
/bafu_hydrodaten_vorhersagen/**/*table.txt
/kapo_ordnungsbussen/**/list_directories.txt
/stata_daily_upload/data/StatA/stata_daily_uploads.json
.Rproj.user
/kapo_smileys/plots/*
/mobilitaet_parkflaechen/data/list_directories.txt
/kapo_smileys/data/list_files.txt
/zefix_handelsregister/data/addr_to_coords_lookup_table.json
/zrd_gesetzessammlung/data/*.json
!/zefix_handelsregister/data/shp_bs/*
!/gva_geodatenshop/schema_files/*.csv
