/* Basic button
   ========================================================================== */
.basic-button {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #EC643C; /* Button background color */
    border: 1px solid #EC643C; /* Button border color */
}
.basic-button:hover {
    outline: none;
    text-decoration: none;
    background-color: #df4516; /* Button background color on mouse hover */
    border-color: #df4516; /* Button border color on mouse hover */
}
